###########################################
#  JWT secret for signing session tokens  #
###########################################

JWT_SECRET=dev-secret-change-me
APP_ENV=development
DATABASE_URL=sqlite:foxtown.db
APP_BASE_URL=http://localhost:8080
VOUCHERS_JSON_PATH=migrations/seeders/vouchers.json
PARKING_API_KEY=fake
PARKING_REFRESH_RATE_SEC=30



###########################################
# SMTP configuration for sending vouchers #
###########################################

SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=vouchers@foxtown.local
SMTP_FAKE_MODE=true
